* {
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Sacramento&display=swap");

.app__container {
  padding: 40px;
  padding-left: 200px;
  padding-right: 200px;
}

.tweets__row {
  display: flex;
  justify-content: space-evenly;
}

.card__spacing {
  padding: 20px;
  margin-left: 350px;
}

.tweets__display > h2 {
  color: #75cfb8;
  font-family: "Sacramento", cursive;
  font-size: 40px;
  font-weight: bolder;
}

.sticky__nav {
  position: sticky;
  background-color: white;
  z-index: 3;
  top: 0;
  padding-bottom: 3%;
}
